.container{
    width: 100%;
    height: 70vh;
   
}

.heading-main{
    text-align: center;
    font-size: 2rem;
    margin-top: 200px;
    font-weight: 50;
   

}
.sub-heading{
    text-align: center;
    font-size: 1.3rem;
}
.scroll{
    /* margin-left: 30px;
    margin-right: 50px;
    margin-top: 40px; 
    padding: 30px; */
    display: flex;
    justify-content: space-around;
}


@media(max-width:480px) {
    .scroll{
       display: none;
    }
    
}