@media (max-width: 599.98px) {
  .header-icon-title {
    margin-top: 45px !important;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 600px) and (max-width: 959.98px) {
  .header-icon-title {
    margin-top: 45px !important;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 960px) {
  .css-1755bx5-MuiGrid-root {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }
}
@media (min-width: 960px) {
  .css-1jo6s9o-MuiGrid-root {
    flex-basis: 75% !important;
    max-width: 75% !important;
  }
}
