.searchBar {
    width: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
    margin-left: 7%;
    z-index: 100;
}

/* CSS rules for mobile */
@media (max-width: 767px) {
    .searchBar {
        width: 85%;
        margin-left: 7%;
        /* padding-top: 0.5rem;
        padding-bottom: 0.5rem; */
        position: relative;
    }
}

/* CSS rules for tablets */
@media (min-width: 768px) and (max-width: 1150px) {
    .searchBar {
        width: 70%;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        position: relative;
    }
}
.space{
    height: 70px;
    background-color: white;
    margin-bottom: 120px;
}
