@media (max-width: 1280px) {
  .home-carousel {
    width: inherit;
  }
}

@media (max-width: 768px) {
  .home-carousel {
    width: inherit;
  }
}

/* Mobile Devices (480px and below) */
@media (max-width: 480px) {
  .home-carousel {
    width: 100%;
    height: auto;
  }
}

/* Extra Small Devices (320px and below) */
@media (max-width: 320px) {
  .home-carousel {
    width: inherit;
  }
}
